body {
  height: 100vh;
  margin: 0;
}

header{
  background-color: #191c37;
  height: 50px;
  font-family: 'Mukta', sans-serif;
  color: #fff;
  padding: 10px;
  // width: 100%;
}

.cntApp {
  margin: 0;
  text-align: center;
}
.container {
  // overflow: hidden;
  background-color: #191c37;
  text-align: center;
  width: 50%;
  margin: 100px auto;
  padding: 30px 60px;
  border-radius: 7px;
  box-shadow: 0 0 12px gray;
}

p {
  font-family: 'Mukta', sans-serif;
  display: inline-block;
  margin: 0;
  font-size: larger;
  color: #fff;
}

.count {
  color: #fff;
}

.txtbox {
  margin: 0 auto;
  border-radius: 5px;
  outline: none;
  border: none;
  display: block;
}

.load {
  margin-top: 20px;
}

.btn-all {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  & .btn {
    width: 25%;
    padding: 10px 0;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0087ff;
    
    &.reset{
      text-align: center;
      font-size: small;
    }
  }
}